.Rproj.user
.Rhistory
.RData
.Ruserdata
www/CZData.json
ccrc_soc_comp.dta
CZ_job_post.rds
hdallyears.dta
lightcast-soc-year-county-2025-02-28.csv
mapboxtoken_setup.R
lightcast-soc-year-county-2025-02-24 7_23pm.csv
cz-postings-by-year-2025-06-19-01.csv
